@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Восстановление пароля успешно";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменен. Пожалуйста, <a asp-page="./Login">нажмите здесь чтобы войти</a>.
</p>